body {
    box-sizing: border-box;
    background-color: #EAEAEA;
    color: #0c0c0c;
}

.cabecalho {
    padding: 3% 0% 0% 0%;
    background-color: #060707; 
}

.cabecalhomenu {
    display: flex;
    gap: 50px;
}

.cabecalho_menu_link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #E6C200;
    text-decoration: none;
   
    align-items: center;
}

.cabecalho_titulotexto {
    margin: 0 px;
    padding: 10px;
    background-color: #0057B7;
    text-align: center;
}

.cabecalho_titulo {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fddd29;
    text-decoration: none;
   
    align-items: center;
}

.cabecalho_subtitulo {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
   
    align-items: center;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_titulo {
    font-size: 1.5rem;
    color: #0057B7;
    font-family: 'Frank Ruhl Libre', serif;
}

.apresentacao_texto {
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
}


apresentacao_imagem {
    width: 50%;
}

.centerimage {
  width: 400px;
  height: auto;
  margin-top: 40px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.tabela {
     /* border-collapse:inherit; define a separação entre as bordar*/
    padding: 5px;
    text-align:center;
    border: solid rgb(245, 209, 9);
    float:right;
    color: #0057B7;
    /*display: flex;*/
}

.rodape {
    padding: 0;
    background-color: #060707;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
    display: block;
    color: #E6C200;
}